.font-mono {
    font-family: 'Source Code Pro', monospace;
}

.font-sans {
    font-family: 'Inter', sans-serif;
}

.m-375 {
    margin: .375rem;
}

.m-45 {
    margin: .45rem;
}

.py-35 {
    padding-top: .35rem;
    padding-bottom: .35rem;
}

@media (min-width: 1024px) {
    .lg\:max-w-screen-lg {
        max-width: 1100px;
    }
}

/* --------------------------------------------------------------- */

.censored {
    display: inline-block;
    line-height: 1.1rem;
    background-color: black;
    color: white;
}

.word {
    color: #cacaca;
    font-weight: 600;
    display: inline;
}

/* --------------------------------------------------------------- */

/* These are the default styles:
  - censored messages are displayed
  - raw messages are hidden
*/
#commit-items .commit-item .message-censored {
    display: inline;
}

#commit-items .commit-item .message-raw {
    display: none
}

/* When the 'uncensor' class is applied, then:
  - censored messages are hidden
  - raw messages are displayed
*/
#commit-items.uncensor .commit-item .message-censored {
    display: none;
}

#commit-items.uncensor .commit-item .message-raw {
    display: inline;
}

/* When a specific commit item is being hovered over, then:
  - censored message is hidden
  - raw message is displayed
*/
#commit-items .commit-item:hover .message-censored {
    display: none;
}

#commit-items .commit-item:hover .message-raw {
    display: inline;
}

/* --------------------------------------------------------------- */
/* Using :nth child to create fake random rotation. */
/* Ref: http://jsfiddle.net/jeAsd/7 */

#commit-items .commit-item:nth-child(1n) .censored {
    transform: rotate(-2.2deg);
}

#commit-items .commit-item:nth-child(2n) .censored {
    transform: rotate(-1.5deg);
}

#commit-items .commit-item:nth-child(3n) .censored {
    transform: rotate(2.2deg);
}

#commit-items .commit-item:nth-child(4n) .censored {
    transform: rotate(1.5deg);
}

/* --------------------------------------------------------------- */
/* Custom rotation for the emoji buttons */

#more-commits:hover>img {
    transform: rotate(60deg);
}

#poop-commits:hover>img {
    transform: rotate(-50deg);
}

#holy-commits:hover>img {
    transform: rotate(30deg);
}

#censor-toggle:hover>img {
    transform: rotate(-20deg);
}

/* --------------------------------------------------------------- */

.bg-light-gray {
    background-color: #f3f7fb;
}

.grit {
    position: relative;
    background: url(/static/img/blackgrit.png) 0% -48% / 115px;
}

/* Disable text selection highlighting */
/* Ref: https://stackoverflow.com/a/4407335/9545946 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (min-width: 768px) {
    #home-icon {
        transform: rotate(-4deg);
    }
}

/* --------------------------------------------------------------- */
/* Social buttons in the footer */

.social-twitter {
    top: -32px;
    right: 127px;
    transform: rotate(-17deg);
}

.social-twitter:hover {
    transform: rotate(7deg);
}

.social-github {
    top: -72px;
    right: 79px;
    transform: rotate(31deg);
}

.social-github:hover {
    transform: rotate(55deg);
}

.social-website {
    top: -58px;
    right: 20px;
    transform: rotate(19deg);
}

.social-website:hover {
    transform: rotate(-5deg);
}
