/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.masonry {
    /* column-gap: 0.5rem; */
    column-gap: 0.75rem;
}


/* Masonry on small screens */
@media only screen and (min-width: 640px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}







/* Masonry on large screens */
/* @media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
} */

/* Masonry on medium-sized screens */
/* @media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
} */

/* Masonry on small screens */
/* @media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
} */
