/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app-message:hover .app-repo {
    /* display: inline-table; */
    /* width: 100%; */
    /* width: auto; */
}

.item {
    xmax-width: 240px;
}

.masonry {
    /* column-gap: 0.5rem; */
    column-gap: 0.75rem;
    column-count: 4;
}


/* Masonry on small screens */
@media only screen and (min-width: 640px) {
  .vmasonry {
    column-count: 2;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (min-width: 768px) {
  .vmasonry {
    column-count: 3;
  }
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .vmasonry {
    column-count: 4;
  }
}

/* --------------------------------------------------------------- */

.censored-black {
    background-color: black;
    color: white;
}

.censored-white {
    background-color: white;
    color: black;
}

.censored {
    display: inline-block;
    line-height: 1.2rem;
    background-color: black;
    color: white;
    /* padding-left: .3rem;
    padding-right: .3rem; */
}

/*
    Using :nth child to create fake random rotation.
    Ref: http://jsfiddle.net/jeAsd/7/
*/
#commits .commit-item:nth-child(1n) .censored {
    transform: rotate(-2deg);
}

#commits .commit-item:nth-child(2n) .censored {
    transform: rotate(-1deg);
}

#commits .commit-item:nth-child(3n) .censored {
    transform: rotate(2deg);
}

#commits .commit-item:nth-child(4n) .censored {
    transform: rotate(1deg);
}

.word {
    /* color: black; */
    /* color: #636363; */
    /* color: #949494; */
    color: #cacaca;
}

.background-pattern {
    /* background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b2b2b2' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
