{{define "index"}}
{{template "header" .}}

<h1>(ノಠ益ಠ)ノ</h1>
<h3>Devs say the darndest things</h3>

<br />

<div class="max-w-screen-lg container mx-auto px-4">
<div class="masonry">
{{range .}}
<div class="item w-full mb-3 inline-block"> <!-- commit -->
    <div class="bg-gray-200 p-2">
        <p class="">
            <a class="inline-block mr-1" target="_blank" href="{{.Author.URL}}">
                <img class="rounded-full w-8 h-8 inline-block" alt="{{.Author.Username}}" src="{{.Author.AvatarURL}}">
            </a>

            <a target="_blank" href="{{.URL}}">
                {{.Message}}
            </a>
        </p>
    </div>
</div>
{{end}}
</div>
</div>

{{ template "footer" .}}
{{end}}
