{{define "index"}}
{{template "header" .}}

<h1>(ノಠ益ಠ)ノ</h1>
<h3>Devs say the darndest things</h3>

<br />

<div class="max-w-screen-lg container mx-auto xpx-4">
<div class="flex flex-wrap justify-center">
{{range .}}
<span class="item flex flex-col mr-3 mb-3"> <!-- commit -->
    <div class="" style="background-color: {{.ColorBackground}}; color: {{.ColorForeground}}">
        <p class="flex items-center">
            <a class="inline-block px-2" target="_blank" href="{{.Author.URL}}">
                <img class="rounded-full w-8 h-8 inline-block" alt="{{.Author.Username}}" src="{{.Author.AvatarURL}}">
            </a>

            <a class="app-message pr-2" target="_blank" href="{{.URL}}">
                <span class="app-commit inline-block" style="line-height: 3rem;">{{.Message}}</span>
            </a>
        </p>
    </div>
</span>
{{end}}
</div>
</div>

{{ template "footer" .}}
{{end}}
